.advantages {
  margin: 0;
  padding: 0;

  @include tablet-width {
    display: flex;
    flex-direction: column;
  }

  @include desktop-width {
    display: flex;
    flex-direction: column;
  }
}

.advantages__slogan {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}

.advantages__title {
  font-size: $font-size-l;
}

.advantages__description {
  font-size: $font-size-s;
}
