.app {
  margin: 0;
  padding: 0;

  @include tablet-width {
    display: flex;
    flex-direction: column;
  }

  @include desktop-width {
    display: flex;
    flex-direction: column;
  }
}

.app__slogan {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  text-align: center;
}

.app__download {
  font-size: $font-size-l;
  background-color: $dark-blue;
  background-size: cover;
}

.app__availability {
  font-size: $font-size-s;
  text-align: center;
  color: $white;
}

.app__download-text {
  font-size: $font-size-l;
  line-height: $line-height-s;
  text-align: center;
  color: $text-color-list;
  border: 5px solid #ffffff;
  padding: 21px 38px 21px 38px;
  border-radius: 40px;
  cursor: pointer;

  &:hover {
    color: $text-color-accent;
    background-color: $text-color-list;
  }

  &:active {
    color: $text-color-accent;
    background-color: $text-color-list;
    opacity: 0.3;
  }
}

.app__download-link {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: end;
}

.app__background {
  margin: 0;
}

.app__image {
  margin: 0;

  @include tablet-width {
    margin: 0;
    width: 400px;
  }

  @include desktop-width {
    margin: 0;
    width: 600px;
    height: 500px;
  }
}
