.app {
  margin: 0;
  padding: 0;

  @include tablet-width {
    display: flex;
    flex-direction: column;
  }

  @include desktop-width {
    display: flex;
    flex-direction: column;
  }
}

.app__slogan {
  font-size: $font-size-xl;
  line-height: $line-height-xl;
  text-align: center;
}

.app__download {
  font-size: $font-size-l;
  background-color: $dark-blue;
  background-size: cover;
}

.app__availability {
  font-size: $font-size-s;
  text-align: center;
  color: $white;
}

.app__download-text {
  font-size: $font-size-l;
  line-height: $line-height-s;
  text-align: center;
  color: $white;
}

.app__download-link {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: end;
}
