.card {
  margin: 0;
  padding: 0;
}

.card__name {
  font-size: $font-size-s;
  line-height: $line-height-m;
  font-weight: $font-bold;
}

.card__posted {
  font-size: $font-size-xs;
  line-height: $line-height-m;
  font-weight: $font-normal;
}

.card__description {
  font-size: $font-size-s;
  line-height: $line-height-m;
  font-weight: $font-medium;
}

.card__liked {
  font-size: $font-size-xs;
  line-height: $line-height-m;
  font-weight: $font-medium;
  color: $text-color-accent;
}

.card__image-container {
  margin: 0;
  text-align: -webkit-center;
}

.card__picture-panorama {
  width: 100%;
}

.card__content {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.card__image {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.card__picture {
  margin: 0;
  width: 300px;
  height: 300px;
}
