.connection {
  margin: 0;
  padding: 0;
}

.connection__with__us {
  font-size: $font-size-xl;
}

.connection__call {
  line-height: $line-height-l;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection__write {
  line-height: $line-height-l;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection__us {
  line-height: $line-height-l;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection__number {
  font-size: $font-size-xl;
  color: $pink;
  line-height: $line-height-xxxl;
}

.connection__email {
  font-size: $font-size-xl;
  color: $pink;
  line-height: $line-height-xxxl;
}

.connection__address {
  font-size: $font-size-xl;
  color: $pink;
  line-height: $line-height-xxxl;
}
