.connection {
  margin: 0;
  padding: 0;
}

.connection-with-us {
  font-size: $font-size-xl;
}

.connection-call {
  line-height: 25px;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection-write {
  line-height: 25px;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection-us {
  line-height: 25px;
  font-size: $font-size-l;
  font-weight: bold;
}

.connection-number {
  font-size: $font-size-xl;
  color: $pink;
}

.connection-email {
  font-size: $font-size-xl;
  color: $pink;
}

.connection-address {
  font-size: $font-size-xl;
  color: $pink;
}
