.gallery {
  margin: 0;
  padding: 0;
}

.gallery__examples-photos {
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;

  @include tablet-width {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include desktop-width {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
