.header {
  font-size: $font-size-l;
  margin: 0;
  padding: 0;
  background-color: $black;
  color: #ffffff;

  @include mobile-width {
    display: flex;
    flex-direction: column;
  }

  @include tablet-width {
    display: flex;
    flex-direction: column;
  }

  @include desktop-width {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header__inner {
  margin: 0;

  @include desktop-width {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header__logo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header__main-nav {
  position: relative;
}

.header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: $black;
  cursor: pointer;
  border: none;
}

.header__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
