.main__nav-list {
  list-style: none;
  color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  @include tablet-width {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  @include desktop-width {
    display: flex;
    flex-direction: row;
  }
}

.main__nav-link {
  color: $white;

  @include mobile-width {
    margin: 1px;
    position: relative;
    display: block;
    padding: 12px 21px;
    padding-bottom: 5px;
    text-transform: uppercase;
    background-color: $black-blue;
    border-top: 1px solid $black;
    border-bottom: 1px solid $border-color;

    &:hover {
      color: $text-color-accent;
      background-color: $black-blue;
    }

    &:active {
      color: $text-color-accent;
      background-color: $black-blue;
      opacity: 0.3;
    }
  }

  @include desktop-width {
    margin: 0;
    text-transform: none;
    border: none;
  }
}
