.main__nav_list {
  list-style: none;
  color: $white;

  @include tablet-width {
    display: flex;
    flex-direction: column;
  }

  @include desktop-width {
    display: flex;
    flex-direction: row;
  }
}

.main__nav_link {
  color: $white;
  margin: 10px;
}
