.price {
  margin: 0;
  padding: 0;
}

.price__option {
  font-size: $font-size-m;
  font-weight: $font-normal;
  line-height: $line-height-xl;
  background-color: $background-color;
  color: $text-color-list;
  padding: 10px;
}

.price__criterion {
  font-size: $font-size-s;
  line-height: $line-height-xl;
}
