.submission-completed {
  margin: 0;
  padding: 0;
}

.submission__completed_info {
  font-size: $font-size-l;
  font-weight: $font-bold;
}

.submission__completed_desc {
  font-size: $font-size-s;
}

.submission__completed_button {
  font-size: $font-size-l;
  font-weight: $font-bold;
  color: $white;
  background-color: $green;
  line-height: $line-height-xl;
}
