*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  font-size: $font-size-s;
  line-height: 24px;
  color: $text-color;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
