/* palette */
$black: #283645;
$pink: #d22856;
$white: #ffffff;
$green: #2aab6d;
/* semantics */
$text-color: $black;
$contact-color: $pink;
$font-main: "Open Sans", "Arial", sans-serif;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
