/* palette */
$black: #283645;
$pink: #d22856;
$white: #ffffff;
$green: #2aab6d;
/* semantics */
$text-color: $black;
$text-color-accent: $pink;
$font-main: "Open Sans", "Arial", sans-serif;
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 18px;
$font-size-xl: 24px;
$line-height-s: 18px;
$line-height-m: 24px;
$line-height-l: 25px;
$line-height-xl: 30px;
$line-height-xxl: 32px;
$line-height-xxxl: 33px;
$font-normal: 300;
$font-medium: 500;
$font-bold: 700;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width: 320px;
